<hr />
<div class="main-footer">
    <div class="container">
        <div class="even-columns">
            <div>
                <div class="footer-title">ONG VÒ VẼ</div>
                <div class="company">
                    <a href="#">
                        <img src="./assets/images/logo.png" alt="logo" />
                    </a>
                    <div class="info-company mt-4">
                        <p class="name-company">CÔNG TY TNHH ALPHAS</p>
                        <p class="property">
                            Trụ sở chính:
                            <span class="value">76 Nguyễn Giản Thanh, P.15, Q.10, Tp. HCM, Việt Nam</span>
                        </p>
                        <p class="property">
                            Số ĐKKD:
                            <span class="value">0316265122</span>
                        </p>
                        <p class="property">
                            Email:
                            <span class="value">notifierlesgo@gmail.com</span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="footer-title">THÔNG TIN CHUNG</div>
                <ul class="nav flex-column general">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chia sẻ kinh nghiệm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ với chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cách đặt chỗ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tuyển dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quy chế hoạt động</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hợp đồng mẫu cung cấp dịch vụ</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="footer-title">HỖ TRỢ</div>
                <ul class="nav flex-column general">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bạn hỏi - Ong Vò Vẽ đáp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hướng dẫn đăng ký tài khoản khách hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hướng dẫn đăng ký làm nhà cung cấp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hướng dẫn đăng tour trên Ong Vò Vẽ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hướng dẫn đăng sự kiện</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hướng dẫn đăng thêm khách sạn</a>
                    </li>
                </ul>
            </div>
            <div class="d-grid gap-3">
                <div class="footer-title">KHÁC</div>
                <div class="payment">
                    <p>Đối tác thanh toán</p>
                    <div class="list-payment">
                        <div>
                            <img src="./assets/images/vnpay-qr1.png" alt="vnpay" />
                        </div>
                        <div><img src="./assets/images/msb.png" alt="msb" /></div>
                        <div><img src="./assets/images/mtc.png" alt="mtc" /></div>
                        <div><img src="./assets/images/visa.png" alt="visa" /></div>
                        <div><img src="./assets/images/jcb.png" alt="jcb" /></div>
                        <div>
                            <img src="./assets/images/cash-payment.png" alt="cash" />
                        </div>
                    </div>
                </div>
                <div class="social">
                    <p>Theo dõi chúng tôi qua các kênh</p>
                    <div class="even-columns">
                        <a href="https://www.facebook.com/ongvovetravel" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fa-regular fa-message"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-phone"></i>
                        </a>
                    </div>
                </div>
                <div class="gov">
                    <a href="http://online.gov.vn/Home/WebDetails/103494" target="_blank">
                        <img src="./assets/images/logoccdv-200.jpg" alt="ccdv" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <p>Copyright © 2023 by Ong Vò Vẽ</p>
            <p>Phát triển bởi Mekoong Media</p>
        </div>
    </div>
</div>