<div class="top-bar">
    <div class="container">
        <div class="d-flex justify-content-between py-2">
            <div class="top-bar__left d-flex">
                <a href="#">notifierlesgo@gmail.com</a>
                <a href="#">Kênh người bán hàng</a>
                <a href="#">Liên hệ</a>
            </div>
            <div class="top-bar__right d-flex">
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <a href="#">Đăng nhập</a>
                <a href="#">Đăng ký</a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#" style="flex: 1">
            <img src="./assets/images/logo.png" alt="ongvove" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dịch vụ
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">#1</a></li>
                        <li>
                            <a class="dropdown-item" href="#">#2</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">#3</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tour
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">#4</a></li>
                        <li>
                            <a class="dropdown-item" href="#">#5</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">#6</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sự kiện
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">#7</a></li>
                        <li>
                            <a class="dropdown-item" href="#">#8</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">#9</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tìm chuyến bay</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
