<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="./assets/libs/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="./assets/libs/fontawesome/css/fontawesome.css" />
<link rel="stylesheet" href="./assets/libs/fontawesome/css/regular.css" />
<link rel="stylesheet" href="./assets/libs/fontawesome/css/solid.css" />
<link rel="stylesheet" href="./assets/libs/fontawesome/css/brands.css" />
<link rel="stylesheet" href="./assets/libs/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="./assets/libs/select2/select2.min.css" />
<link rel="stylesheet" type="text/css" href="./assets/libs/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="./assets/libs/slick/slick-theme.css" />
<link rel="stylesheet" href="./assets/css/mystyle.css">