$color-primary:#ff5b00;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #403e3e;
$color-gray-500: #989898;

$bg-pink: #fcf6f2;

$bg-tag: #e2dbd8;
$color-tag: #a29d9b;

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;


